
/* pg -- Profile Goal */
#pg-name {
    color: darkred;
    font-weight: bold;
    margin-bottom: -0.5em;
}
.pg-icon {
    color: darkred;
    margin-top: 1em;
    margin-left: 0.4em;
    font-size: x-large;
}
.pglarge {
    font-size: large;
}
.pgmedium {
    font-size: medium;
}
.pgsmall {
    font-size: small;
}
.pgrotate {
	transform-origin: left top 0;
    transform: rotate(-45deg);
}
.pghorizontal {
	text-align: center;
    margin: 0;
}